.card {
	h3 {
		@include dynotherm;
		@include neon($header-color);
		padding-bottom: 3rem;
	}

	p {
		color: $text-color;
	}

	.card-body {
		@include neon-frame($header-color);
		padding: 1rem;
	}
}

@include responsive-font-size(".card p", 1.2rem);
