header {
	height: 100vh;
}

#canvas-container {
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 3rem;

	h1 {
		@include dynotherm;
		@include neon($header-color);
		display: inline;
		padding: 1rem;
		text-align: center;
	}

	h2 {
		@include dynotherm;
		@include neon($header-color);
		text-align: center;
	}
}
